<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.minijoy.demo">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="network.particle.demo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/pn_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Particleandroid"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">


        <activity
            android:name="network.particle.demo.ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <!--                -->
                <action android:name="network.particle.action.allwallet_exit" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />


            </intent-filter>
            <!--   Particle Connect config end     -->


        </activity>
        <activity
            android:name="network.particle.demo.ui.APIReferenceActivity"
            android:screenOrientation="portrait" />
        <!--   Particle Network config start     -->
        <activity
            android:name="com.particle.network.controller.WebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/ThemeAuthWeb">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="pn${PN_APP_ID}" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="particle.network.project_id"
            android:value="${PN_PROJECT_ID}" />
        <meta-data
            android:name="particle.network.project_client_key"
            android:value="${PN_PROJECT_CLIENT_KEY}" />
        <meta-data
            android:name="particle.network.app_id"
            android:value="${PN_APP_ID}" />
        <!--   Particle Network config end     -->

        <activity
            android:name="com.particle.network.controller.AuthActivity"
            android:exported="false"
            android:theme="@style/ThemeAuthWeb">
            <intent-filter>
                <action android:name="network.particle.action.auth" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Particle Connect Redirect Callback -->
        <activity
            android:name="com.connect.common.controller.RedirectActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="connect${PN_APP_ID}" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="particle.network.project_client_key"
            android:value="${PN_PROJECT_CLIENT_KEY}" />

        <meta-data
            android:name="particle.network.app_id"
            android:value="${PN_APP_ID}" />

        <meta-data
            android:name="particle.network.project_id"
            android:value="${PN_PROJECT_ID}" />

        <activity android:name="network.particle.demo.ui.AuthDemoActivity" />
        <activity android:name="network.particle.demo.ui.ApiDemoActivity" />
        <activity android:name="network.particle.demo.ui.WalletDemoActivity" />
        <activity android:name="network.particle.demo.ui.ParticleWalletLoginDemoActivity" />


    </application>


</manifest>